.social-links-all {
  display: flex;
  align-items: center;

  width: 206px;
  height: 44px;
}

.social-links-li:not(:first-child) {
  display: flex;
  margin-left: 10px;
}

.social-links {
  display: flex;
  /* width: 44px;
  height: 44px;
  border-radius: 50%; */
  color: $social-links-color;
  background-color: $main-backgroundcolor;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: space-evenly;

  fill: $social-links-color;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  padding: 0;
  margin-right: auto;
  margin-left: auto;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: $sec-backgroundcolor;

  fill: $main-backgroundcolor;
}
