$main-text-color: #212121;
$sec-text-color: #ffffff;
$descrip-text-color: #757575;
$header-border-bottom: #ececec;
$social-links-color: #afb1b8;

$team-backgroundcolor: #f5f4fa;
$main-backgroundcolor: #ffffff;
$sec-backgroundcolor: #2196f3;
$hero-backgroundcolor: #2f303a;
