.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-client-logo-1 {
  width: 0.90625em;
}

.icon-client-logo-2 {
  width: 0.78125em;
}

.icon-client-logo-3 {
  width: 0.96875em;
}

.icon-client-logo-4 {
  width: 1.875em;
}

.icon-client-logo-5 {
  width: 1.25em;
}

.icon-client-logo-6 {
  width: 1.9375em;
}

.icon-envelope {
  width: 1.34375em;
}

.icon-envelope-hover {
  width: 1.34375em;
}

.icon-Vector {
  width: 0.625em;
}
